body {
    background-color: #1a1a1a; /* Un gris oscuro elegante */
    color: #00ff88;           /* Verde neón tipo terminal/trading */
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;      /* Centra todo horizontalmente */
    justify-content: center;  /* Centra todo verticalmente */
    height: 100vh;            /* Usa todo el alto de la pantalla */
    margin: 0;
}

h1 {
    font-size: 3rem;
    text-transform: uppercase;
    border-bottom: 2px solid #00ff88;
}